@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900'), url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900'), url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

$lightGreen: #94a627;
$popGreen: #96c43e;
$darkGreen: #2a590c;
$mauve: #8132bc;
$lightMauve: #bb97d6;
$darkGrey: #424242;
$greentr: rgba(148, 166, 39, 0.70);
$mauvetr: rgba(129, 50, 188, 0.58);
$fontText: Raleway;

html {
    width: 100%;
    font-size: 100%;
    font-family: $fontText;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

// Header
#home {
    display: flex;
    justify-content: space-between;
}

#home > div {
    padding: 20px;
    background-color: $darkGreen;
    height: 100vh;
    width: 92%;
    color: white;
    position: relative;
    > div:nth-of-type(2) {
        z-index: 99;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 45vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        font-family: $fontText;
        h1 {
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 3vh;
            text-transform: uppercase;
            font-size: 4.6vw;
            letter-spacing: 5px;
            text-indent: 5px;
            padding: 0;
            text-align: center;
        }
        h2 {
            display: inline-block;
            font-size: 1.6vw;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 21px;
            text-align: center;
            text-indent: 15px;
            div {
                margin: 0;
            }
        }
        @keyframes blink {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        .typed {
            display: inline-block;
        }
        .typed-cursor {
            animation: blink 0.7s infinite;
            letter-spacing: 0;
            text-indent: 0;
        }
    }
    @keyframes animImage {
        0% { 
            opacity: 0;
        }
        100% { 
            opacity: 1;
        }
    }
    img {
        animation-name: animImage;
        animation-duration: 2.5s;
        animation-timing-function: ease-in-out;
        position: absolute;    
        max-width: 100%;
        max-height: 100%;
        top: 20vh;
        left: calc(50% - 38.5px);
    }
}

// Nav
#hamMenu {
    display: none !important;
}

img {
    margin: 0;
}
#navVerticale {
    z-index: 99;
    margin-right: 20px;
    position: fixed;
    right: 1.7%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    #listeNav {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        li {
            list-style-type: none;
            padding-top: 15px;
            padding-bottom: 15px;
            writing-mode: vertical-rl;
            font-family: Montserrat;
            > a {
                display: inline;
                height: 20px;
                color: $mauve;
                font-weight: 500;
                font-size: 2vh;
                text-decoration: none;
                text-transform: uppercase;
                position: relative;
            }
            a::before {
                z-index: -1;
                content: '';
                position: absolute;
                top: 0;
                left: -8px;
                background: $greentr;
                width: 150%;
                height: 0;
            }
            .link {
                text-decoration: none !important;
                color: $mauve !important;
            }
            a:hover {
                background-size: 100% 100%;
            }
            a:hover::before {
                z-index: -1;
                height: 100%;
                transition: height 0.5s;
            }
        }
    }
}

section {
    font-size: 15px;
    padding-top: 50px;
    width: 92%;
    font-family: $fontText;
}

h3 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

/* Section about */
#about {
    background-color: $mauve;
    background-image: url("../img/arrow-left.png"), url("../img/arrow-right.png");
    background-size: 37%, 37%;
    background-position: 0 10vh, 96% 95%;
    background-repeat: no-repeat;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        height: 12px;
        width: 70vw;
        top: 25vh;
        right: 0%;
        background-color: $lightMauve;
    }
    h3 {
        color: white;
    }
    div {
        width: 50%;
        margin-top: 15vh;
        color: white;
        font-size: 16px;
        line-height: 1.7;
        p {
            margin-top: 5vh;
            font-weight: 200;
        }
        #stage {
            font-size: 25px;
        }
        span {
            margin-right: 15px;
            margin-left: 15px;
        }
        strong {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}


/* Section skills */
#skills {
    background-image: url("../img/graphic2.png"), url("../img/bracket.png"), url("../img/bracket-right.png");
    background-size: 37%, 4%, 4%;
    background-size: 50vh, 4%, 4%;
    background-position: 105% 120%, 7% 65%, 32% 65%;
    background-repeat: no-repeat;
    background-color: $darkGreen;
    position: relative;
    z-index: 0;
    > div {
        margin-top: 15vh;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        position: relative;
        align-items: flex-start; 
        color: white;
    }
       &::before {
            position: absolute;
            content: '';
            width: 12px;
            height: 40%;
            bottom: 10%;
            right: 20%;
            background-color: $lightGreen;
        }
        &::after {
            z-index: -1;
            position: absolute;
            content: '';
            height: 12px;
            width: 53vw;
            top: 25vh;
            left: 0;
            background-color: $lightGreen;
        }
    h3 {
        position: relative;
        color: white;
        z-index: 9999;
    }
    #code {
        margin-top: -7vh;
        margin-left: 0vw;
    }
    #graphisme {
        margin-top: 20vh;
        margin-right: 10%;
    }
    #code, #graphisme {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: left;
        h4 {
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 200;
            span {
                font-weight: 600;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        ul {
            padding: 0;
        }
        li {
            color: white;
            list-style-type: none;
            font-weight: 200;
            margin: 5px 10px 5px 10px;
            font-size: 16px;
            line-height: 1.5;
        }
    }
}

/* Section portfolio */
#portfolio {
    background-color: $mauve;
    background-image: url(../img/paint-portfolio.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 90vh -10vh;
    position: relative;
    padding-bottom: 50px;
    color: white;
    #portfolioItems {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-top: 13vh;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        .imgPortfolio {
            width: 100%;
            height: auto;
        }
        h3 {
            margin-top: 0;
            text-align: center;
        }
        .lienPortfolio {
            overflow: hidden;
            width: 300px;
            height: 200px;
            background-color: #fff;
            margin: 10px;
        }
        .modalPortfolio {
            display: none;
        }
        a {
            width: 100%;
            height: auto;
        }
    }
}

#wll {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 75%;
    top: 0;
    left: 5%;
    background-color: $lightMauve;
}
#portfolio::after {
    content: '';
    position: absolute;
    height: 12px;
    width: 15%;
    top: 8vh;
    left: 90%;
    background-color: $lightMauve;
}

.iziModal-header-title, .iziModal-header-subtitle {
    text-align: center !important;
}

.iziModal-content {
    font-family: $fontText;
}

.iziModal-content > div {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 50px !important;
    color: $darkGrey !important;
    width: 70%;
    .imageModal {
        width: 100%;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .infoModal {
        width: 100%;
        line-height: 1.7;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
        strong {
            text-transform: uppercase;
        }
    }
    .demo {
        width: 100%;
        text-align: center;
    }
    a {
        display: inline-block;
        color: $mauve;
        border: 1px solid $mauve;
        margin-top: 20px;
        padding: 10px 15px 10px 15px;
        text-decoration: none;
        transition: 0.5s;
        &:hover {
            color: #fff;
            background-color: $mauve;
            transition: 0.5s;
        }
    }
}

#portraits {
    .infoModal {
        width: 45%;
        margin-top: 50px;
        margin-left: 0;
    }
}

#imagesPortraits {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    > .imageModal {
        width: 45%;
        margin: 10px;
        img {
            width: 100%;
            border: 1px solid $mauve;
        }
    }
}

.iziModal-content > #modalWll {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: no-wrap;
    align-items: flex-start;
    > div {
        width: 45%;
    }
    .imageModal {
        margin-top: 50px;
        img {
            border: 1px solid $mauve;
        }
    }

    .infoModal {
        margin: 0;
        margin-top: 50px;
    }
}
.iziModal-content > #modalOcean {
    .imageModal {
        width: 45%;
        border: 1px solid $mauve;
        padding: 10px;
    }
    .imageModal:first-of-type {
        width: 100%;
    }
}

.iziModal-content > #modalNZ {
    img {
        border: 1px solid $mauve;
        margin-bottom: 50px;
    }
    .infoModal {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

#circuitWll {
    div:first-of-type {
        margin-top: 20px;
    }
    div {
        margin-bottom: 50px;
    }
}
/* Contact */
#contact {
    background-color: $darkGreen;
    color: #fff;
    color: white;
    font-size: 16px;
    line-height: 1.7;
    position: relative;
    h3 {
        text-align: center;
    }
    h4 {
        margin-top: 5vh;
        font-weight: 200;
        font-size: 25px;
        margin-bottom: 10px;
        text-align: center;
    }
    span {
        margin-right: 15px;
        margin-left: 15px;
        font-weight: 600;
        text-transform: uppercase;
    }
    a {
        color: #fff;
        font-weight: 200;
        text-decoration: none;
        font-size: 16px;
        text-align: center;
    }
    #infoContact {
        width: 100%;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 75%;
        top: 0;
        left: 25%;
        background-color: $lightGreen;
    }
    #social-media {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    #mail {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 30px;
            margin-left: 15px;
            line-height: 30px;
            vertical-align: middle;
        }
        span {
            font-weight: 200;
            font-size: 16px;
            text-transform: none;
            line-height: 30px;
            margin: 0;
        }
    }
    #cv {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

footer {
    width: 92%;
    height: 10vh;
    background-color: $darkGreen;
    font-family: $fontText;
    position: relative;
    p {
        margin: 0;
        text-align: center;
        color: white;
        font-weight: 200;
        font-size: 16px;
    }
    &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 250%;
        bottom: 0;
        left: 75%;
        background-color: $lightGreen;
    }
}

/* Responsive */
@media (max-width:768px) {
    #hamMenu {
        display: block !important;
        position: fixed !important;
        z-index: 999;
        position: relative;
        right: 20px;
    }
    nav {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .menuHidden {
        display: none;
    }
    
    #navVerticale {
        background-color: $lightGreen;
        width: 100%;
        margin: 0;
        padding: 0;
        top: 0;
    }
    
    #listeNav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        li a {
            font-size: 25px !important;
        }
    }
    #home > div, section, footer {
        width: 100%;
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
    h1 {
        font-size: 50px !important;
    }
    h2 {
        font-size: 18px !important;
    }
    #skills {
        background-position: 80% 80%, 33% 50%, 65% 50%;
       /* background-size: 20vh;*/
    }
    #skills > div {
        flex-direction: column;
        align-items: center;
        #code, #graphisme {
            margin: 0;
        }
    }
    footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}