@font-face {
  font-family: nevis;
  src: url(../fonts/nevis.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900'), url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900');

$lightGreen: #94a627;
$darkGreen: #2a590c;
$mauve: #8132bc;
$darkGrey: #424242;
/*$greentr: rgba(144, 238, 144, 0.79);*/
$greentr: rgba(148, 166, 39, 0.65);
$mauvetr: rgba(129, 50, 188, 0.58);
$fontText: Raleway;
$fontTitle: Raleway;

%ligne {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 8px;
    width: 100%;
    background-color: $lightGreen;
}

html {
    font-size: 100%;
    font-family: $fontText;
    color: $darkGrey;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

// Header
#home {
    display: flex;
    justify-content: space-between;
}

#home > div {
    padding: 20px;
    background-color: $darkGreen;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 100vh;
    width: 92%;
    color: white;
    background-attachment: fixed;
    position: relative;
    > div {
        z-index: 9999;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 20px;
        font-family: $fontTitle;
        h1 {
            font-weight: 500;
            margin-left: auto;
            margin-right: auto;
            text-transform: uppercase;
            margin-top: 0;
            font-size: 4rem;
            letter-spacing: 5px;
            padding: 0;
        }
        h2 {
            margin-left: auto;
            margin-right: auto;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 20px;
        }
    }
    img {
        position: absolute;
        top: 20vh;
        margin-left: calc(50% - 85.5px);
    }
}

// Nav
img {
    margin: 0;
}
nav {
    margin-right: 20px;
    position: fixed;
    right: 20px;
    ul {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        li {
            list-style-type: none;
            padding-top: 15px;
            padding-bottom: 15px;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-family: Montserrat;
            a {
                height: 20px;
                color: $mauve;
                font-weight: 500;
                font-size: 2vh;
                text-decoration: none;
                text-transform: uppercase;
                position: relative;
            }
            a::before {
                z-index: -1;
                content: '';
                position: absolute;
                top: 0;
                left: -8px;
                background: $greentr;
                width: 150%;
                height: 0;
            }
            .link {
                text-decoration: none !important;
                color: $mauve !important;
            }
            a:hover {
                background-size: 100% 100%;
            }
            a:hover::before {
                z-index: -1;
                height: 100%;
                transition: height 0.5s;
            }
        }
    }
}

section {
    font-size: 15px;
    padding-top: 50px;
    width: 92%;
    font-family: $fontText;
}

h3 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
}

p {
    text-align: justify;
}

/* Section about */
#about {
    background-color: $mauve;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        color: white;
    }
/*    h3 {
        color: white;
        font-size: 50px;
        position: relative;
        width: 50%;
        text-align: right;
        margin-bottom: 50px;
    }
    h3::after {
        @extend %ligne;
    }*/
    div {
        width: 50%;
        margin-top: 20px;
        color: white;
        font-size: 18px;
    }
}


/* Section skills */
#skills {
 /*   border: 15px solid $darkGreen;*/
    background-color: $lightGreen;
    > div {
        margin-top: 15vh;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        position: relative;
        align-items: flex-start; 
    }
    h3 {
        color: white;
    }
    #code {
        border-left: 8px solid $mauve;
        padding-left: 100px;
        padding-bottom: 50px;
    }
    #graphisme {
        border-bottom: 8px solid $mauve;
        padding-bottom: 50px;
        padding-left: 100px;
    }
    #code, #graphisme {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        > div {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: flex-start;
        }
        h4 {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 400;
        }
        ul {
            padding: 0;
        }
        li {
            list-style-type: none;
            font-weight: 400;
            margin: 5px 10px 5px 10px;
            font-size: 18px;
            i {
                padding-right: 10px;
                font-size: 15px;
                margin-left: 10px;
            }
        }
        .fa-laptop-code, .fa-paint-brush {
/*            display: block;
            border: 1px solid $mauve;*/
            width: 70px;
            height: 70px;
            text-align: center;
            line-height: 70px;
        }
    }
}

/* Section portfolio */
#portfolio {
 /*   background-color: $mauve;*/
    border: 15px solid $mauve;
    position: relative;
/*    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;*/
    h3 {
        color: rgba(66, 66, 66, 0.70);
    }
    #portfolioItems {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        img {
            width: 100%;
         
        }
        > div {
            overflow: hidden;
            width: 210px;
            height: 210px;
            background-color: #fff;
            border-radius: 50%;
        /*    border: 5px solid $lightGreen;*/
 /*           padding: 10px;*/
            margin: 20px;
        }
    }
}
.modal {
    padding: 50px;
    max-width: 70%;
    width: 70%;
    .button-modal {
        text-decoration: none;
        background-color: $lightGreen;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
}

#contact {
    background-color: $darkGreen;
    border: 10px solid $darkGreen;
    h3 {
        color: $lightGreen;
        text-align: center;
    }
    form {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20vh;
        width: 50%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        input, textarea, button {
            width: 100%;
            margin: 10px;
            border-radius: 5px;
            background-color: $darkGreen;
            border: 1px solid $lightGreen;
            padding: 10px;
            &::placeholder {
                color: $lightGreen;
                opacity: 1;
            }
        }
        button {
            width: 100px;
            color: $lightGreen;
            transition: 0.4s;
            &:hover {
                background-color: $darkGrey;
                transition: 0.4s;
            }
        }
    }
}

footer {
    width: 92%;
    height: 20vh;
    background-color: $darkGreen;
    font-family: $fontText;
    p {
        margin: 0;
        text-align: center;
        color: white;
    }
}