@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900");
html {
  width: 100%;
  font-size: 100%;
  font-family: Montserrat;
  font-weight: normal;
  overflow-x: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

.col-centered {
  float: none;
  margin: 0 auto; }

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#home > div {
  padding: 20px;
  background-color: #2a590c;
  height: 100vh;
  width: 92%;
  color: white;
  position: relative; }
  #home > div > div:nth-of-type(2) {
    z-index: 99;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 45vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    font-family: Montserrat; }
    #home > div > div:nth-of-type(2) h1 {
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 3vh;
      text-transform: uppercase;
      font-size: 4.6vw;
      letter-spacing: 5px;
      text-indent: 5px;
      padding: 0;
      text-align: center; }
    #home > div > div:nth-of-type(2) h2 {
      display: inline-block;
      font-size: 1.6vw;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 21px;
      text-align: center;
      text-indent: 15px; }
      #home > div > div:nth-of-type(2) h2 div {
        margin: 0; }

@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
    #home > div > div:nth-of-type(2) .typed {
      display: inline-block; }
    #home > div > div:nth-of-type(2) .typed-cursor {
      -webkit-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite;
      letter-spacing: 0;
      text-indent: 0; }

@-webkit-keyframes animImage {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes animImage {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  #home > div img {
    -webkit-animation-name: animImage;
    animation-name: animImage;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 20vh;
    left: calc(50% - 38.5px); }

#hamMenu {
  display: none !important; }

* {
  margin: 0;
  padding: 0; }

/* Nav icon */
#nav-icon {
  margin: 10px;
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0; }

#nav-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px; }

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 0px; }

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 10px; }

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 20px; }

#nav-icon.open span:nth-child(1), #nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon.open span:nth-child(2), #nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon.open span:nth-child(1) {
  left: 2px;
  top: 5px; }

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 3px);
  top: 5px; }

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0; }

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0; }

#nav-icon.open span:nth-child(5) {
  left: 2px;
  top: 16px; }

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 3px);
  top: 16px; }

img {
  margin: 0; }

#navVerticale {
  z-index: 99;
  margin-right: 20px;
  position: fixed;
  right: 1.7%;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  #navVerticale #listeNav {
    margin-top: auto;
    margin-bottom: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #navVerticale #listeNav li {
      list-style-type: none;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      font-family: Montserrat;
      padding-top: 15px;
      padding-bottom: 15px; }
      #navVerticale #listeNav li > a {
        display: inline;
        height: 20px;
        color: #8132bc;
        font-weight: 500;
        font-size: 15px;
        text-decoration: none;
        text-transform: uppercase;
        position: relative; }
      #navVerticale #listeNav li a::before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: -8px;
        background: rgba(148, 166, 39, 0.7);
        width: 150%;
        height: 0; }
      #navVerticale #listeNav li .link {
        text-decoration: none !important;
        color: #8132bc; }
      #navVerticale #listeNav li a:hover {
        background-size: 100% 100%; }
      #navVerticale #listeNav li a:hover::before {
        z-index: -1;
        height: 100%;
        -webkit-transition: height 0.5s;
        -o-transition: height 0.5s;
        transition: height 0.5s; }

section {
  font-size: 15px;
  padding-top: 50px;
  width: 92%;
  font-family: Montserrat; }

h3 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700; }

/* Section about */
#about {
  background-color: #8132bc;
  background-image: url("../assets/img/design/arrow-left.png"), url("../assets/img/design/arrow-right.png");
  background-size: 15%, 15%;
  background-position: 10% 15vh, 90% 95%;
  background-repeat: no-repeat;
  position: relative; }
  #about::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 70vw;
    top: 25vh;
    right: 0%;
    background-color: #bb97d6; }
  #about h3 {
    color: white; }
  #about .aboutDiv {
    margin-top: 18vh;
    margin-bottom: 5vh;
    color: white;
    font-size: 16px;
    line-height: 1.7;
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
    #about .aboutDiv p {
      margin-top: 5vh;
      font-weight: 200; }
    #about .aboutDiv #stage {
      font-size: 25px; }
    #about .aboutDiv span {
      margin-right: 15px;
      margin-left: 15px; }
    #about .aboutDiv strong {
      font-weight: 600;
      text-transform: uppercase; }

/* Section skills */
#skills {
  background-image: url("../assets/img/design/graphic.png");
  background-size: 400px;
  background-position: 105% 110%;
  background-repeat: no-repeat;
  background-color: #2a590c;
  position: relative;
  z-index: 0; }
  #skills .skillsDiv {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 15vh;
    position: relative;
    color: white; }
  #skills::after {
    z-index: -1;
    position: absolute;
    content: '';
    height: 12px;
    width: 53vw;
    top: 25vh;
    left: 0;
    background-color: #94a627; }
  #skills h3 {
    color: white;
    z-index: 999; }
  #skills #code {
    background-image: url("../assets/img/design/bracket-left.png"), url("../assets/img/design/bracket-right.png");
    background-size: 50px, 50px;
    background-position: 10% 10vh, 90% 10vh;
    background-repeat: no-repeat;
    margin-top: 0vh;
    margin-left: 8vw; }
  #skills #graphisme {
    margin-top: 20vh;
    margin-left: 0vw;
    margin-right: 3vw;
    position: relative; }
    #skills #graphisme::after {
      position: absolute;
      content: '';
      width: 12px;
      height: 120%;
      bottom: -10%;
      right: 5vw;
      background-color: #94a627;
      z-index: -1; }
  #skills #code, #skills #graphisme {
    width: 40%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left; }
    #skills #code h4, #skills #graphisme h4 {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 200;
      margin-bottom: 5vh;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: inline-block; }
      #skills #code h4 span, #skills #graphisme h4 span {
        font-weight: 600;
        margin-left: 15px;
        margin-right: 15px; }
    #skills #code ul, #skills #graphisme ul {
      padding: 0; }
    #skills #code li, #skills #graphisme li {
      color: white;
      list-style-type: none;
      font-weight: 200;
      margin: 5px 10px 5px 10px;
      font-size: 16px;
      line-height: 1.5; }
      #skills #code li span, #skills #graphisme li span {
        padding-left: 10px; }
        #skills #code li span::before, #skills #graphisme li span::before {
          content: '|';
          font-weight: 500;
          padding-right: 10px; }

/* Section portfolio */
#portfolio {
  background-color: #8132bc;
  background-image: url(../assets/img/design/paint-portfolio.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 90vh -10vh;
  position: relative;
  padding-bottom: 50px;
  color: white; }
  #portfolio #portfolioItems {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 13vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #portfolio #portfolioItems .imgPortfolio {
      width: 100%;
      height: auto; }
    #portfolio #portfolioItems h3 {
      margin-top: 0;
      text-align: center; }
    #portfolio #portfolioItems .lienPortfolio {
      overflow: hidden;
      width: 300px;
      height: 200px;
      background-color: #fff;
      margin: 5px;
      position: relative; }
    #portfolio #portfolioItems .modalPortfolio {
      display: none; }
    #portfolio #portfolioItems a {
      width: 100%;
      height: auto; }
    #portfolio #portfolioItems .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(129, 50, 188, 0.58);
      opacity: 0;
      -webkit-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s; }
      #portfolio #portfolioItems .overlay:hover {
        opacity: 1;
        -webkit-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s; }

#wll {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#portfolio::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 75%;
  top: 0;
  left: 5%;
  background-color: #bb97d6; }

#portfolio::after {
  content: '';
  position: absolute;
  height: 12px;
  width: 15%;
  top: 8vh;
  left: 90%;
  background-color: #bb97d6; }

.iziModal-header-title, .iziModal-header-subtitle {
  text-align: center !important; }

.iziModal-content {
  font-family: Montserrat; }

.iziModal-content > div {
  padding: 10px !important;
  color: #424242 !important; }
  .iziModal-content > div img {
    max-width: 100%;
    height: auto;
    border: 1px solid #8132bc;
    padding: 0; }
  .iziModal-content > div .imageModal {
    margin-top: 25px;
    margin-bottom: 25px; }
  .iziModal-content > div .infoModal {
    line-height: 1.7;
    margin-top: 25px;
    padding-bottom: 25px; }
  .iziModal-content > div .demo {
    width: 100%;
    text-align: center;
    margin-bottom: 25px; }
  .iziModal-content > div a {
    display: inline-block;
    color: #8132bc;
    border: 1px solid #8132bc;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .iziModal-content > div a:hover {
      color: #fff;
      background-color: #8132bc;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
  .iziModal-content > div ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 0; }
  .iziModal-content > div li {
    list-style-type: none;
    padding-right: 15px; }

#roboModal {
  margin-top: 0;
  margin-bottom: 0; }
  #roboModal .imageModal {
    margin-top: 10px; }
  #roboModal img {
    border: none; }

#imagesPortraits {
  margin-bottom: 0px; }

.iziModal-content > #modalWll {
  padding-bottom: 50px;
  width: 80%; }

.iziModal-content > #modalOcean img {
  border: none; }

#circuitWll img {
  border: none; }

/* Contact */
#contact {
  background-color: #2a590c;
  color: white;
  font-size: 16px;
  line-height: 1.7;
  position: relative; }
  #contact h3 {
    text-align: center; }
  #contact h4 {
    margin-top: 5vh;
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center; }
  #contact span {
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 600;
    text-transform: uppercase; }
  #contact a {
    color: #fff;
    font-weight: 200;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px; }
  #contact #infoContact {
    width: 100%;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto; }
  #contact::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 75%;
    top: 0;
    left: 25%;
    background-color: #94a627; }
  #contact #social-media {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #contact #social-media i {
      padding-left: 20px;
      padding-right: 20px; }
  #contact #mail {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #contact #mail img {
      width: 30px;
      margin-left: 15px;
      line-height: 30px;
      vertical-align: middle; }
    #contact #mail span {
      font-weight: 200;
      font-size: 16px;
      text-transform: none;
      line-height: 30px;
      margin: 0; }
  #contact #cv {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

footer {
  width: 92%;
  height: 10vh;
  background-color: #2a590c;
  font-family: Montserrat;
  position: relative; }
  footer p {
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 16px; }
  footer::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 300%;
    bottom: 0;
    left: 75%;
    background-color: #94a627; }

/* Responsive */
@media (max-width: 768px) {
  section {
    min-height: 100vh; }
  #hamMenu {
    top: 0;
    left: 0;
    background-color: #2a590c !important;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #fff;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed !important;
    z-index: 999;
    position: relative;
    right: 20px; }
    #hamMenu span {
      text-align: center; }
  nav {
    width: 100%;
    margin: 0;
    padding: 0; }
  .menuHidden {
    display: none; }
  #navVerticale {
    z-index: 9999;
    top: 50px !important;
    right: 0;
    background-color: #2a590c;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0; }
  #listeNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    margin: 0; }
    #listeNav li {
      -webkit-writing-mode: horizontal-tb !important;
      -ms-writing-mode: lr-tb !important;
      writing-mode: horizontal-tb !important;
      padding: 0 !important;
      height: 46px; }
    #listeNav li a {
      border-bottom: 1px solid #fff;
      color: #fff !important;
      font-weight: 300 !important;
      display: block !important;
      height: 46px !important;
      padding: 15px !important;
      font-size: 16px !important;
      text-transform: none !important;
      margin-top: auto;
      margin-bottom: auto; }
    #listeNav a:hover {
      background-size: 0% 0% !important; }
    #listeNav a:hover::before {
      height: 0 !important;
      width: 0 !important; }
  #home > div, section, footer {
    width: 100%;
    padding-bottom: 50px; }
    #home > div::before, section::before, footer::before {
      display: none; }
    #home > div::after, section::after, footer::after {
      display: none; }
  h1 {
    font-size: 40px !important;
    margin-bottom: 0;
    text-indent: 0 !important;
    line-height: 1.5; }
  h2 {
    font-size: 1rem !important;
    text-indent: 0 !important;
    line-height: 2;
    margin-left: 20px; }
  #about {
    background-position: 5% 5%, 90% 95%;
    background-size: 120px, 120px;
    padding-bottom: 170px; }
    #about .aboutDiv {
      margin-top: 130px;
      width: 80%; }
  #skills .skillsDiv {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    background-position: 100% 125%;
    background-size: 400px; }
  #skills #code, #skills #graphisme {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80%; }
  #skills #code {
    background-position: 0% 34%, 100% 34% !important;
    background-size: 80px, 80px !important; }
  #skills #graphisme {
    margin-bottom: 50px;
    margin-top: 50px; }
    #skills #graphisme::after {
      display: none; }
  .iziModal-content {
    min-height: 100vh; }
  #portfolio {
    background-size: 300px;
    background-position: 100% 0%; }
  #contact {
    min-height: 85vh; }
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 15vh; } }

@media (max-width: 520px) {
  #about {
    background-position: 3% 4%, 90% 95%;
    background-size: 80px;
    padding-bottom: 150px; }
    #about .aboutDiv {
      margin-top: 100px; }
  #skills {
    background-position: 160% 100%;
    background-size: 300px; }
    #skills #code, #skills #graphisme {
      width: 100%; }
    #skills #code {
      background-position: 5% 35%, 95% 35% !important;
      background-size: 50px, 50px !important; }
  #portfolio {
    background-position: 45vw 5vh; } }
