@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900");
html {
  font-size: 100%;
  font-family: Raleway;
  color: #fff;
  font-weight: normal; }

* {
  box-sizing: border-box; }

#home {
  display: flex;
  justify-content: space-between; }

#home > div {
  padding: 20px;
  background-color: #2a590c;
  height: 100vh;
  width: 92%;
  color: white;
  position: relative; }
  #home > div > div {
    z-index: 9999;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Raleway; }
    #home > div > div h1 {
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 3vh;
      text-transform: uppercase;
      font-size: 4.6vw;
      letter-spacing: 5px;
      text-indent: 5px;
      padding: 0;
      text-align: center; }
    #home > div > div h2 {
      display: inline-block;
      font-size: 1.6vw;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 21px;
      text-align: center;
      text-indent: 15px; }
      #home > div > div h2 div {
        margin: 0; }
@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
    #home > div > div .typed {
      display: inline-block; }
    #home > div > div .typed-cursor {
      animation: blink 0.7s infinite;
      letter-spacing: 0;
      text-indent: 0; }
@keyframes animImage {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  #home > div img {
    animation-name: animImage;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 20vh;
    left: calc(50% - 38.5px); }

img {
  margin: 0; }

#navVerticale {
  z-index: 9999;
  margin-right: 20px;
  position: fixed;
  right: 1.7%;
  background-color: transparent;
  border: none;
  box-shadow: none; }
  #navVerticale #listeNav {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    #navVerticale #listeNav li {
      list-style-type: none;
      padding-top: 15px;
      padding-bottom: 15px;
      writing-mode: vertical-rl !important;
      text-orientation: mixed;
      font-family: Montserrat; }
      #navVerticale #listeNav li > a {
        display: inline;
        height: 20px;
        color: #8132bc;
        font-weight: 500;
        font-size: 2vh;
        text-decoration: none;
        text-transform: uppercase;
        position: relative; }
      #navVerticale #listeNav li a::before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: -8px;
        background: rgba(148, 166, 39, 0.65);
        width: 150%;
        height: 0; }
      #navVerticale #listeNav li .link {
        text-decoration: none !important;
        color: #8132bc !important; }
      #navVerticale #listeNav li a:hover {
        background-size: 100% 100%; }
      #navVerticale #listeNav li a:hover::before {
        z-index: -1;
        height: 100%;
        transition: height 0.5s; }

section {
  font-size: 15px;
  padding-top: 50px;
  width: 92%;
  font-family: Raleway; }

h3 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700; }

p {
  text-align: justify; }

/* Section about */
#about {
  background-color: #8132bc;
  background-image: url("../img/arrow-left.png"), url("../img/arrow-right.png");
  background-size: 37%, 37%;
  background-position: 0 10vh, 96% 95%;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  #about::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 70vw;
    top: 20vh;
    right: 0%;
    background-color: #bb97d6; }
  #about h3 {
    color: white; }
  #about div {
    width: 50%;
    margin-top: 10vh;
    color: white;
    font-size: 18px; }
    #about div p {
      margin-top: 5vh; }
    #about div #stage {
      font-size: 25px; }
    #about div span {
      margin-right: 15px;
      margin-left: 15px; }
    #about div strong {
      font-weight: 600;
      text-transform: uppercase; }

/* Section skills */
#skills {
  background-image: url("../img/graphic2.png"), url("../img/bracket.png"), url("../img/bracket-right.png");
  background-size: 37%, 4%, 4%;
  background-position: 105% 120%, 7% 55%, 32% 55%;
  background-repeat: no-repeat;
  background-color: #2a590c;
  position: relative;
  z-index: 0; }
  #skills > div {
    margin-top: 15vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: flex-start;
    color: white; }
  #skills::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 40%;
    bottom: 10%;
    right: 10%;
    right: 20%;
    background-color: #94a627; }
  #skills h3 {
    position: relative;
    color: white;
    z-index: 9999; }
    #skills h3::after {
      z-index: -1;
      position: absolute;
      content: '';
      height: 12px;
      width: 55vw;
      top: 12vh;
      left: -5vh;
      background-color: #94a627; }
  #skills #code {
    margin-top: -7vh;
    margin-left: 0vw; }
  #skills #graphisme {
    margin-top: 18vh;
    margin-right: 10%; }
  #skills #code, #skills #graphisme {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    #skills #code h4, #skills #graphisme h4 {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: normal; }
      #skills #code h4 span, #skills #graphisme h4 span {
        font-weight: 700;
        margin-left: 15px;
        margin-right: 15px; }
    #skills #code ul, #skills #graphisme ul {
      padding: 0; }
    #skills #code li, #skills #graphisme li {
      list-style-type: none;
      font-weight: 400;
      margin: 5px 10px 5px 10px;
      font-size: 18px; }
      #skills #code li i, #skills #graphisme li i {
        padding-right: 10px;
        font-size: 15px;
        margin-left: 10px; }

/* Section portfolio */
#portfolio {
  background-color: #8132bc;
  position: relative; }
  #portfolio #portfolioItems {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; }
    #portfolio #portfolioItems img {
      width: 100%; }
    #portfolio #portfolioItems h3 {
      display: block; }
    #portfolio #portfolioItems > div {
      overflow: hidden;
      width: 210px;
      height: 210px;
      background-color: #fff;
      border-radius: 50%;
      /*    border: 5px solid $lightGreen;*/
      /*           padding: 10px;*/
      margin: 20px; }

.modal {
  padding: 50px;
  max-width: 70%;
  width: 70%; }
  .modal .button-modal {
    text-decoration: none;
    background-color: #94a627;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px; }

#contact {
  background-color: #2a590c;
  border: 10px solid #2a590c; }
  #contact h3 {
    text-align: center; }

footer {
  width: 92%;
  height: 20vh;
  background-color: #2a590c;
  font-family: Raleway; }
  footer p {
    margin: 0;
    text-align: center;
    color: white; }
